.footer__content{
    height: 187px;
    border-radius: 40px;
    border: 1px solid $dark;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__footer__list{
        display: flex;
        flex-direction: column;
        gap: 10px;

        a{
            &:hover{
                color: $green;
                transition: .2s ease-out;
            }
        }
    }
}