<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <a href="#"><img src="./images/Footer-Logo.svg" alt="Logo"></a>
            </div>
            <nav class="nav__footer">
                <ul class="nav__footer__list">
                    <li class="nav__footer__item">
                        <a class="nav__footer__link" href="#">(Поддержка)</a>
                    </li>
                    <li class="nav__footer__item">
                        <a class="nav__footer__link" href="#">(Профиль)</a>
                    </li>
                    <li class="nav__footer__item">
                        <a class="nav__footer__link" href="#">(Выйти)</a>
                    </li>
                </ul>
            </nav>   
        </div>
    </div>