<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <a href="#"><img src="./images/Логотип.svg" alt="Logo"></a>
            </div>
            <nav class="nav__main">
                <ul class="nav__main__list">
                    <li class="nav__main__item">
                        <a class="nav__main__link" href="#">(Поддержка)</a>
                    </li>
                    <li class="nav__main__item">
                        <a class=" title__btn nav__main__link" href="#">(Профиль)</a>
                    </li>
                    <li class="nav__main__item">
                        <a class="nav__main__link" href="#">(Выйти)</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>