<section class="profile">
    <div class="container">
        <div class="profile__content">
            <div class="profile__top">
                <a class="edit__btn" href="#">редактировать</a>
                <div class="profile__img">
                    <img src="./images/avatar.png" alt="avatar">
                </div>
                <div class="profile__sub__btn">
                    <a href="#">1000 подписчиков</a>
                </div>
            </div>
            <div class="profile__bottom">
                <div class="profile__title">
                    <span class="text-1">ваше</span>
                    <span class="text-2">творчество</span>
                </div>
            </div>
            <div class="profile__cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="profile__title-2">
                <div class="profile__favourites">
                    <span>избранное</span>
                </div>
                <div class="profile__cards-2">
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                    <div class="card"></div>
                </div>
            </div>
        </div>
    </div>
</section>